
@{
    ViewData["Title"] = "Index";
}

<h1>Oscar Home Page</h1>
<div class="container">
    <p class="row">You have a Subscription</p>
    <div class="col-3"><a class="btn btn-outline-danger" asp-controller="Oscar" asp-action="OscarSignOut">Sign Out</a></div>
</div>